---
// Alerts the user that the page is only available in a specific language

import { useTranslations, type Lang } from "@/i18n";
import { NOT_TRANSLATED_CAUTION } from "@/consts";

interface Props {
  usedLangs: Lang[];
}

const t = useTranslations(Astro.currentLocale as Lang);
const { usedLangs } = Astro.props;
const currentLocale = Astro.currentLocale as Lang;
---

{
  !usedLangs.includes(currentLocale) && (
    <p>
      <span class="material-icons-sharp">warning</span>
      {t(NOT_TRANSLATED_CAUTION)}
    </p>
  )
}
