---
// Header & Navigation UI displayed on each page.

import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { useTranslations, type Lang } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import { SITE_TITLE, SITE_TITLE_SHORT } from "@/consts";
const t = useTranslations(Astro.currentLocale as Lang);

const locale = Astro.currentLocale as Lang;

const isActive = (path: string) =>
  getRelativeLocaleUrl(locale, path) === Astro.url.pathname;
---

<header class="border-b border-[rgba(55,53,47,0.09)] px-4 py-4">
  <div class="flex flex-col sm:flex-row justify-between items-center gap-4">
    <div class="flex items-center">
      <a href={getRelativeLocaleUrl(locale, "/")} class="flex items-center gap-2 hover:bg-[rgba(55,53,47,0.08)] p-1 rounded">
        <div class="bg-gray-500 text-white w-7 h-7 rounded flex items-center justify-center font-semibold">S</div>
        <span class=" text-gray-500 font-bold text-lg">{SITE_TITLE_SHORT}</span>
      </a>
    </div>

    <div class="flex flex-col sm:flex-row items-center gap-4">
      <nav class="flex gap-2">
        <a
          href={getRelativeLocaleUrl(locale, "/")}
          class={`px-2 py-1 rounded transition-colors text-[rgba(55,53,47,0.65)] hover:bg-[rgba(55,53,47,0.08)] ${isActive("/") ? "bg-[rgba(55,53,47,0.05)] text-[rgba(55,53,47,0.85)]" : ""}`}
        >
          <div class="flex items-center gap-1">
            <Icon name="mdi:home" />
            {t({
              en: "Home",
              es: "Inicio", 
              ar: "الصفحة الرئيسية",
              pt: "Início",
              fr: "Accueil",
              ru: "Главная",
              "zh-cn": "首页",
              ja: "ホーム",
            })}
          </div>
        </a>

        <!-- <a
          href={getRelativeLocaleUrl(locale, "/tool/page/1")}
          class={`px-2 py-1 rounded transition-colors text-[rgba(55,53,47,0.65)] hover:bg-[rgba(55,53,47,0.08)] ${isActive("/tools") ? "bg-[rgba(55,53,47,0.05)] text-[rgba(55,53,47,0.85)]" : ""}`}
        >
          <div class="flex items-center gap-1">
            <Icon name="mdi:tools" />
            {t({
              en: "Tools",
              es: "Herramientas",
              ar: "أدوات",
              pt: "Ferramentas",
              fr: "Outils",
              ru: "Инструменты",
              "zh-cn": "工具",
              ja: "ツール",
            })}
          </div>
        </a> -->

        <a
          href={getRelativeLocaleUrl(locale, "/blog")}
          class={`px-2 py-1 rounded transition-colors text-[rgba(55,53,47,0.65)] hover:bg-[rgba(55,53,47,0.08)] ${isActive("/blog") ? "bg-[rgba(55,53,47,0.05)] text-[rgba(55,53,47,0.85)]" : ""}`}
        >
          <div class="flex items-center gap-1">
            <Icon name="mdi:blog-outline" />
            {t({
              en: "Blog",
              es: "Blog",
              ar: "مدونة",
              pt: "Blog",
              fr: "Blog",
              ru: "Блог",
              "zh-cn": "博客",
              ja: "ブログ",
            })}
          </div>
        </a>

        <!-- <a
          href={getRelativeLocaleUrl(locale, "/games")}
          class={`px-2 py-1 rounded transition-colors text-[rgba(55,53,47,0.65)] hover:bg-[rgba(55,53,47,0.08)] ${isActive("/games") ? "bg-[rgba(55,53,47,0.05)] text-[rgba(55,53,47,0.85)]" : ""}`}
        >
          <div class="flex items-center gap-1">
            <Icon name="mdi:gamepad-variant" />
            {t({
              en: "Games",
              es: "Juegos",
              ar: "ألعاب",
              pt: "Jogos", 
              fr: "Jeux",
              ru: "Игры",
              "zh-cn": "游戏",
              ja: "ゲーム",
            })}
          </div>
        </a> -->
        <a
          href={getRelativeLocaleUrl(locale, "/about")}
          class={`px-2 py-1 rounded transition-colors text-[rgba(55,53,47,0.65)] hover:bg-[rgba(55,53,47,0.08)] ${isActive("/about") ? "bg-[rgba(55,53,47,0.05)] text-[rgba(55,53,47,0.85)]" : ""}`}
        >
          <div class="flex items-center gap-1">
            <Icon name="mdi:information" />
            {t({
              en: "About",
              es: "Acerca de",
              ar: "حول",
              pt: "Sobre",
              fr: "À propos",
              ru: "О нас",
              "zh-cn": "关于",
              ja: "について",
            })}
          </div>
        </a>
      </nav>
      <LocaleSelect />
    </div>
  </div>
</header>
